<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		body{
			margin-top:70px;
			background-image: url(https://images.unsplash.com/photo-1441422454217-519d3ee81350?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6b9cd37b276dc547554e152446cb6eb&auto=format&fit=crop&w=889&q=80);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
		#heading {
				font-family: 'Fredericka the Great', cursive;
				font-size: 100px;
				color:white; 
			}
		h2 {
				font-family: 'Fredericka the Great', cursive;
				color:white; 
			}
		p {
				color:white;
				font-family: 'Montserrat', sans-serif;
			}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button> 
	      <a class="navbar-brand"><i class="fa fa-tree"></i> GGO</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="http://127.0.0.1:5000/">Home</a></li>
	        <li><a href="http://127.0.0.1:5000/about">About</a></li>
	        
	        <li class="active"><a href="http://127.0.0.1:5000/project">Our Project</a></li>
	        <li><a href="http://127.0.0.1:5000/issue">The Issue</a></li>
	        <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li><a href="http://127.0.0.1:5000/donate">Donate</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<h1 id="heading">Our Projects</h1>
			<div class="row">
				<div class="col-sm-6">
					<h2>Project Green Deccan</h2>
					<p>
						<strong>Location: </strong>Talupula mandal village, Anantapur District, A.P., India<br>
						<strong>Species Planted: </strong>Mango, Jamun, Sapota, Guava<br>
						<strong>Environmental and Social Impact: </strong>Talupula attracts very less annual rainfall and several times faces situation of drought, causing heavy losses to poor farmers. This situation often leads to frustration, despair and suicidal tendency among these farming communities. Therefore despite of all odd climatic conditions Go Green Organiztion has worked out an action plan to add greenery and provide horticulture farming based additional livelihood option to poor farmers of this region.
					</p>
				</div>
				<div class="col-sm-6">
					<img src="http://www.sankalptaru.org/pictures/locations/1/1.jpg" width=500px height=300px></img>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h2>Project Protect Himalayas</h2>
					<p>
						<strong>Location: </strong>Chamoli,Uttarakhand, Himalayas - India<br>
						<strong>Species Planted: </strong>Orange, Amla, Peach<br>
						<strong>Environmental and Social Impact: </strong>Go Green Organization is promoting environmental awareness among students of various government schools in this remotely located region around Chamoli, Uttarakhand. The project also aims at checking soil erosion through tree plantation in this landslide affected area. Students are closely involved in planting and nurturing trees.

					</p>
				</div>
				<div class="col-sm-6">
					<img src="http://www.sankalptaru.org/pictures/locations/4/1.jpg" width=500px height=300px></img>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h2>Project Enrich Biodiversity</h2>
					<p>
						<strong>Location: </strong>Takari village, Walva Taluka, Sangli, Maharashtra, India<br>
						<strong>Species Planted: </strong>Mango, Guava, Gulmohar, Neem<br>
						<strong>Environmental and Social Impact: </strong>The village has more than 80% of the total population which lives under the poverty line. There are no employment opportunities other than farming available for poor youth and therefore they opt to move to cities in search of employment. The village is located on the banks of river Krishna and there is a tremendous potential to extend livelihood option to villagers and promote biodiversity through development of a sustainable plantation program.
						Impressed with the active participation from village panchayat and local communities, Go Green Organiztion has taken a pledge to sponsor villagers for orchards full of fruit bearing trees. Moreover ample of irrigation facilities will also help in sustenance of planted trees and we believe that grown up trees will become source of income for the poor farmers.
					</p>
					<br>
				</div>
				<div class="col-sm-6">
					<img src="http://www.sankalptaru.org/pictures/locations/9/1.jpg" width=500px height=300px></img>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h2>Project Green Leh Ladakh</h2>
					<p>
						<strong>Location: </strong>Village Stakna, Leh Ladakh, India.<br>
						<strong>Species Planted: </strong>Willows (Salix), Poplar<br>
						<strong>Environmental and Social Impact: </strong>Go Green Organization has initiated a green campaign in the most difficult terrain in the cold arid desert of Ladakh and is dedicated to the sustainable development of the region. 
						Amidst of inclement weather conditions, with support from local communities we are working towards developing thick forests in this arid region to help check soil erosion and preserve environment.
					</p>
					<br>
				</div>
				<div class="col-sm-6">
					<img src="http://www.sankalptaru.org/pictures/locations/18/1.jpg" width=500px height=300px></img>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h2>Project Green Thar</h2>
					<p>
						<strong>Location: </strong>Village Bhata,Harsani,Paadru,Chokhla District-Barmer and Raajmathai District- Jaisalmer , Thar Desert, Rajasthan,India<br>
						<strong>Species Planted: </strong>Pomegranate, Ber, Neem.<br>
						<strong>Environmental and Social Impact: </strong>In pursuit of creating forest in middle of Thar Desert, Go Green Organiztion is developing pomegranate and other fruit bearing trees orchards for the farmers in these villages. While the entire area lacks tree cover, we have taken up a challenge to grow fruit bearing trees to directly benefit poor villagers who have limited livelihood options. The planted trees will also provide fodder to livestock which currently struggles in lack of vegetation. We have also adopted few government schools to make their campuses greener through tree plantation. Best performing schools are rewarded with funds from our end, therefore in addition to creating environmental impact we are also supporting cause of education through this plantation site.
					</p>
					<br>
				</div>
				<div class="col-sm-6">
					<img src="http://www.sankalptaru.org/pictures/locations/19/1.jpg" width=500px height=300px></img>
				</div>
			</div>
	</div> 
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>